---
title: Sounds Like Soma | Philadelphia's Best Recording Studio 
layout: default
bodyClass: page-home
description: World class recording studio in Philadelphia. Prepared to bring your audio production to life! Professional recording, mixing, and mastering. Get your next recording project completed by a team with state of the art audio equipment!
tags: [home,sounds,soma,studio,recording]
---

<div class="intro pb-4">
  <div class="container">
    <h1>Sounds Like Soma</h1>
    <p>Professional Audio Editing and Music Mixing</p>
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">

      <div class="call-phone"><strong>Phone: </strong>
        <a href="tel:{{ site.data.contact.phone }}">
          {{ site.data.contact.phone }}</a></div>

      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}" aria-label="8 5 6. 2 9 8. 3 0 9 5.">
          {{ site.data.contact.email }}
          
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
<!--       <a href="{{site.baseurl}}/contact" class="button">Contact</a> -->
<!--       <a href="{{site.baseurl}}/book-now" class="button">Book Now</a> -->
      <a href="/book-now/" class="button">Book Now</a>
    </div>

  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="title-3 text-light mb-3">From Bands to Podcasts - We Do It All!</h2>
    </div>
    {% for service in site.services limit:6 %}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{site.baseurl}}{{ service.url }}">{{ service.title }}</a>
          </h2>
          {{ service.content | markdownify | strip_html | truncate: 140 }}
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="col-12 text-center">
      <a class="button button-primary mt-2" href="{{site.baseurl}}/services">View All Services</a>
    </div>
  </div>
</div>
<div class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-light mb-4">Here's Why Soma Is The Best Choice...</h2>
      <p>Elevate your <b>recordings</b> to the next level! We're more than a Hip-Hop and Rap Studio. We work with all genres including Pop, Rock and R&B!</p>
    </div>
    {% for feature in site.data.features %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <a href="{{ feature.link }}">
        <div class="feature">
          {% if feature.image %}<div class="feature-image"><img alt="{{ feature.title }} logo" src="{{ feature.image }}" /></div> {% endif %}
          <h2 class="feature-title">{{ feature.title }}</h2>
          <div class="feature-content">{{ feature.description }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
