<div class="call">
  <div class="call-box-top">
    {% if site.data.contact.phone %}
    <div class="call-phone">
      <strong>Main Phone: </strong
      ><a
        href="tel:{{ site.data.contact.phone2 }}"
        aria-label="2 1 5. 6 0 1. 9 5 0 9."
      >
        {{ site.data.contact.phone2 }}</a
      >
    </div>
    {% endif %} {% if site.data.contact.email %}
    <div class="call-email">
      <strong>Email: </strong>
      <a
        href="mailto:{{ .site.data.contact.email }}"
        aria-label="soundslikesoma@gmail.com"
      >
        {{ site.data.contact.email }}</a
      >
    </div>
    {% endif %}

    <!-- fix aria address tag -->
    {% if include.show_addr %} {% if site.data.contact.address %}
    <div class="call-address">
      <strong>Addr: </strong>
      <a
        href="https://goo.gl/maps/kzLZe3AYDm8sx2oN8"
        aria-label="1554 S Lambert Street, Philadelphia"
      >
        {{ site.data.contact.address }}</a
      >
    </div>
    {% endif %} {% endif %}
  </div>
  <div class="call-box-bottom">
    <a
      href="https://square.site/book/VC0MQHN4GS4ND/sls-studio-b-philadelphia-pa"
      class="button"
      >Book a Session</a
    >
  </div>
</div>
