<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h3 class="footer-title"><a href="https://www.soundslikesoma.com/">{{site.title}}</a></h3>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/services/">Services</a></li>
            <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
            <li><a href="{{site.baseurl}}/book-now/">Book Now</a></li>
          </ul>
          <hr>
          <ul>
            <li style="display:inline">
              <a href="{{ site.data.social.facebook }}"><img src="/assets/images/social-icons/facebook.png" alt="facebook logo" style="width:45px; height:45px"></a>
            </li>
            <li style="display:inline">
              <a href="{{ site.data.social.tiktok }}"><img src="/assets/images/social-icons/tiktok.png" alt="tiktok logo" style="width:45px; height:45px"></a>
            </li>
            <li style="display:inline">
              <a href="{{ site.data.social.instagram }}"><img src="/assets/images/social-icons/instagram.png" alt="instagram logo" style="width:45px; height:45px"></a>
            </li>
            <li style="display:inline">
              <a href="{{ site.data.social.youtube }}"><img src="/assets/images/social-icons/youtube.png" alt="youtube logo" style="width:45px; height:45px"></a>
            </li>
            <li style="display:inline">
              <a href="{{ site.data.social.twitter }}"><img src="/assets/images/social-icons/twitter.png" alt="twitter logo" style="width:45px; height:45px"></a>
            </li>
            <li style="display:inline">
              <a href="{{ site.data.social.linkedin }}"><img src="/assets/images/social-icons/linkedin.png" alt="linkedin logo" style="width:45px; height:45px"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>