<div class="footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer">
          <h3 class="footer-title"><a href="https://www.soundslikesoma.com/">{{site.title}}</a></h3>
          <ul class="footer-menu">
            <li><a href="{{site.baseurl}}/services/">Services</a></li>
            <li><a href="{{site.baseurl}}/contact/">Contact</a></li>
            <li><a href="{{site.baseurl}}/book-now/">Book Now</a></li>
          </ul>

          <ul>
            <li>
              <a href="{{ site.data.social.tiktok }}"><img src="/assets/images/social-icons/tiktok.png" alt="tiktok logo" style="width:70%"></a>
            </li>
            <li>
              <a href="{{ site.data.social.instagram }}"><img src="/assets/images/social-icons/instagram.png" alt="instagram logo" style="width:70%"></a>
            </li>
            <li>
              <a href="{{ site.data.social.youtube }}"><img src="/assets/images/social-icons/youtube.png" alt="youtube logo" style="width:70%"></a>
            </li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>