<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DDJ0JL5YQ0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DDJ0JL5YQ0');
</script>
<!-- END -->


<!-- remove after ads are done! -->
  <!-- Global site tag (gtag.js) - adwords - Google Ads: 706522368 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-706522368"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-706522368');

// <!-- Event snippet for Website traffic conversion page -->
  gtag('event', 'conversion', {'send_to': 'AW-706522368/gl7wCJbsjtQDEIDa8tAC'});
</script>
<!-- end of all google scrits for ads -->