<div class='header fixed-top {{include.headerClass}}'>
  <div class="container">
    <div class="logo">
      <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/soma-home-logo.png" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/sls-logo-mobile.jpg" /></a>
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>

<!-- Google 'Auto Ad' code -->
<script data-ad-client="ca-pub-0458736574258100" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>