<div class="sub-footer-strip">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer">
          <ul>
            <li>Studio A (Zack): <a href="tel:{{ site.data.contact.phone }}" aria-label="8 5 6. 2 9 8. 3 0 9 5.">
                {{ site.data.contact.phone }}</a></li>
            <li>Studio B (Gage): <a href="tel:{{ site.data.contact.phone2 }}" aria-label="2 1 5. 6 0 1. 9 5 0 9.">
                {{ site.data.contact.phone2 }}</a></li>
            <li>Email: <a href="mailto:{{ site.data.contact.email }}">
                {{ site.data.contact.email }}</a></li>
          </ul>
          <ul>
            <li><a href="https://www.soundslikesoma.com/">SoundsLikeSoma.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>