.page-samples-list {
  background-image: url('../images/speakers-equipment.jpg');
  background-repeat: no-repeat;
  background-size: 106%;
  background-position: 49px -40px;
  @include media-breakpoint-up(sm) {
    background-size: 83%;
    background-position: 159px -40px;
  }
  @include media-breakpoint-up(md) {
    background-size: 65%;
    background-position: 299px 0px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 60%;
    background-position: 100% -20px;
  }
}
