---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    <div class="row justify-content-start">
        <div class="col-12 col-md-8">
            <div class="service service-single">
                <h1 class="title">{{page.title-h1}}</h1>
                {% include call.html show_button=false show_addr=true %}
                <p>{% if site.data.social %}{% include social.html %}{% endif %}</p>
                <div class="content mt-4">{{content}}</div>
            </div>
        </div>
    </div>
</div>

<!-- old book-now page -->
<div class="strip strip-grey" style="padding-top:50px">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">

          <h2>Recording Studios</h2>

          {% include booking-buttons/studio-a.html %}
          <p>With Engineer Zack Hanni. This is our best studio room with top of the line equipment. <a href="/services/recording-studios/" target="More info on studio A">Learn More About Studio A</a></p>

          {% include booking-buttons/studio-b.html %}
          <p>With Engineer Gage Bingham. Great equipment and sound at a more afordable price. <a href="/services/recording-studios/" target="More info on studio B">Learn More About Studio B</a></p>

          {% include booking-buttons/studio-c.html %}
          <p>No Engineer or Computer Included. Those those looking for a cheap recording studio space for rent with all the equipment you need for producing beats, recording vocals and mixing. <a href="/services/rent-studio-space/" target="More info on studio C">Learn More About Renting Studio C</a></p>

          {% include booking-buttons/rehearsal.html %}
          <p>Contact us directly about what time you want to schedule your band rehearsal or practice session. <a href="/services/band-rehearsal-studio/" target="More info on Band Rehearsals">More Info On Band Rehearsals</a></p>

          <hr color="white">

          <h2>Podcasts</h2>

          {% include booking-buttons/podcast.html %}
          <p>Elevate your next podcast or livestream with our dedicated podcast studio rooms. <a href="/services/podcast-recording-studios/" target="More info on audio podcasts">Learn More About Podcasts</a></p>

          {% include booking-buttons/podcast-video.html %}
          <p>Contact us directly before booking to schedule a date and time for your podcast or event. <a href="/services/podcast-recording-studios/" target="More info on video podcasts">Learn More About Video Podcasts</a></p>

          <hr color="white">

          <h2>Mixing and Mastering</h2>

          {% include booking-buttons/mix-master.html %}
          <p>Send us your audio stems for a complete radio-ready mix and master. <a href="/services/mixing-mastering/" target="More info on Mixing and Mastering">Learn More About Mixing and Mastering</a></p>

          {% include booking-buttons/mastering.html %}
          <p>Already have a song mixed? Get it professionally mastered <a href="/services/mixing-mastering/" target="More info on Mastering">More Info on Mastering</a></p>

          <hr color="white">

          <h2>Voiceovers</h2>

          {% include booking-buttons/studio-a.html %}
          <p>Improve your voice over quality for audiobooks, TV or Movices with our experienced audio engineers. <a href="/services/voiceover-recording-studios/" target="More info on audio podcasts">Learn More About Voice overs</a></p>

          <hr color="white">

          <h2>Video Production</h2>
          <p>Our team works with you to plan, shoot and edit music videos, social media promotional material, podcast, or live events. Hire our videographer to get noticed in Philadelphia. Get your video done today! <a href="/services/music-video-production/" target="More info on video production">All video production services.</a></p>

          <hr color="white">

          <h2>Alternative Payment Methods</h2>

          <p>Don't use a credit card? Contact us today to schedule what service you are looking for. We require a 50% minimum deposit ahead of time before we can lock in a session date and time. Remaining amount due at session start.</p>

          <hr color="white">

          <p><strong>Book now!</strong> Our recording stusio spaces are first come first serve. The moment you put down a deposit for your session, you are locked-in for your chosen date and time. what are you waiting for? <strong>Schedule a session today!</strong></p>

        </div>
      </div>
    </div>
</div>