<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>

<!--   meta tags for google -->
  {% if page.description %}<meta name="description" content="{{ page.description | escape }}">
  {% endif %}
  {%if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {%endif %}
 <!--  END -->

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.webp">
  <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
    {% include google-analytics.html %}
    
</head>
<body class='page {{page.bodyClass}}'>

  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>
</body>
</html>
