<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>

<!--   meta tags for google -->
  {% if page.description %}<meta name="description" content="{{ page.description | escape }}">
  {% endif %}
  {%if page.tags %}<meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
  {%endif %}
 <!--  END -->

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="{{site.baseurl}}/assets/images/favicon.png">
  <link href="{{site.baseurl}}/assets/css/style.css" rel="stylesheet">
    {% include google-analytics.html %}
    {% include adsense.html %}
</head>
<body class='page {{page.bodyClass}}'>

  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/scripts.js"></script>


  <!-- Global site tag (gtag.js) - Google Ads: 706522368 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-706522368"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-706522368');
</script>

<!-- Event snippet for Website traffic conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-706522368/gl7wCJbsjtQDEIDa8tAC'});
</script>
<!-- end of all google scrits for ads-->

</body>
</html>
